p{
	background-color: goldenrod;
	color: firebrick;
	width: 500px;
}
.ddd{
	background-color: salmon;
	color: fuchsia;
	font-family: "黑体";
}
.sss{
	background-color: cornflowerblue;
	color: peachpuff;
	font-family: "楷体";
}
